<!DOCTYPE html>

<html lang="en">

<head>

    <title>taChat</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/@@fortawesome/fontawesome-free/css/all.min.css">

    @* <!-- Roboto font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> *@

</head>

<body class="vh-100 d-flex flex-column">

    @* Navbar *@
    <div class="navbar navbar-dark bg-dark">
        <div class="w-100 d-flex flex-row mx-3">
            <a href="/" class="navbar-brand" style="min-width:120px">taChat</a>
            <div class="w-100 navbar-nav d-flex flex-row gap-3">
                @if (ViewData["roomName"] as string != null)
                {
                    <div class="nav-item ms-auto">
                        <span class="nav-link">@ViewData["roomName"]</span>
                    </div>
                    <div class="nav-item">
                        @if ((bool?)ViewData["managePage"] == false)
                        {
                            <a asp-action="ManageRoom" asp-controller="Chat" asp-route-roomId="@ViewData["roomId"]"
                       class="nav-link">
                                <i class="fa-solid fa-gear"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-action="ViewRoom" asp-controller="Chat" asp-route-roomId="@ViewData["roomId"]"
                       class="nav-link"><i class="fa-solid fa-reply"></i></a>
                        }
                    </div>
                }
                @if (Context.User.Identity?.Name != null)
                {
                    <a href="/Account/Logout" class="nav-link ms-auto">Log out</a>
                }
            </div>
        </div>
    </div>

    <div class="flex-grow-1" style="height:1%">
        @RenderBody()
    </div>

    <script src="~/js/site.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("scripts", false)

</body>

</html>